/*******************************************************************
LAYOUT
*******************************************************************/
li:hover {
  cursor: pointer;
  background-color: #ecf0f1;
}
#map {
  width: 800px;
  height: 400px;
  margin: 1em;
}
#alert {
  font-size: 1.5em;
  margin-bottom: 1.2em;
}
#getGeoData {
  margin-left: 1em;
}
.info {
  font-size: 1.3em;
  text-align: left;
}